body {
    display: grid;
    grid-template-columns: 440px calc(100%-440px);
    grid-auto-flow: row;
    gap: 2rem;
    margin: 0 auto;
    background: #fff4f6;

    main {
        display: flex;
        height: 100%;
        width: 100%;
        position: relative;

        .content {
            width: 100%;
            margin-left: 2rem;
            margin-top: 2rem;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: calc(100% - 320px);
            display: flex;
            justify-content: center;
        }
    }
}

a {
    text-decoration: none;

    &:hover {
        color: goldenrod;
    }
}
