.navbar {
    width: 440px;
    height: 100vh;
    text-decoration: none;
    background-color: #e5d5e4;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    transition: transform 500ms ease 0s;
    padding: 2rem 0 1.5rem 1.5rem;

    .title {
        font-size: 1.3rem;
        margin: 1rem 0 2rem 0;
        max-width: 170px;

        a {
            color: #2f1e2e;
        }
    }

    ul {
        text-transform: uppercase;

        li {
            text-transform: lowercase;
            list-style-type: none;
        }
    }
}
